extends layouts/layout.pug

block content 
    form(method="POST")
        input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
        if emailErrorMessage
            span(style={"font-weight":"bold"})=emailErrorMessage
        input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
        if usernameErrorMessage
            span(style={"font-weight":"bold"})=usernameErrorMessage
        input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
        input(placeholder="Location", name="location", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;